@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-off-white: #f9f9f9;
  --color-black: #000;
  --color-light-blue: #09c;
  --color-dark-blue: #1e1d36;
  --color-green: #1de1ae;
  --color-yellow: #fcb70f;
  --color-red: #f14a3b;
  --color-danger: #8c312d;
  --font-copy: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-titles: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --height-nav: 8.8rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 1.7rem;
  font-family: var(--font-copy);
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
  font-weight: normal;
}

p,
ul li,
ol li {
  line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  font-family: var(--font-copy);
}

.container {
}

.container {
  --width-container: 1140px;
  max-width: var(--width-container);
  margin: 0 auto;
}
