@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-off-white: #f1f3f8;
  --color-gray: #f1f1f1;
  --color-black: #000;
  --color-light-blue: #09c;
  --color-dark-blue: #1e1d36;
  --color-green: #1de1ae;
  --color-yellow: #fcb70f;
  --color-red: #f14a3b;
  --color-danger: #8c312d;
  --font-copy: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-titles: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --height-nav: 8.8rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  font-size: 1.7rem;
  font-family: var(--font-copy);
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titles);
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.6;
  font-size: 4rem;
  margin: 0;
  color: var(--color-dark-blue);
}

p,
ul li,
ol li {
  line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
  color: var(--color-light-blue);
}

input,
textarea {
  font-family: var(--font-copy);
}

.container {
}

.container {
  --width-container: 1140px;
  max-width: var(--width-container);
  margin: 0 auto;
}

/*
  TOOLTIPS
  Modified version of https://codepen.io/cbracco/pen/nufHz
*/
[data-tooltip] {
  position: relative;
  color: var(--color-light-blue);
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

[data-tooltip]:before {
  z-index: 30;
  border: 1rem solid transparent;
  background: transparent;
  content: '';
}

[data-tooltip]:after {
  z-index: 20;
  padding: 0.8rem;
  width: 26rem;
  background-color: var(--color-white);
  background-color: hsla(0, 0%, 20%, 1);
  color: var(--color-white);
  content: attr(data-tooltip);
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
}

[data-tooltip]:before,
[data-tooltip]:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before {
  margin-left: -0.6rem;
  margin-bottom: -1.6rem;
  border-top-color: var(--color-black);
  border-top-color: hsla(0, 0%, 20%, 1);
}

/* Horizontally align */
[data-tooltip]:after {
  margin-left: -13rem;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  transform: translateY(-1.2rem);
}
